

.container {
  display: flex;
  margin-top: 7.6vh;
  height: 92.4vh; 
  background-color: var(--body-bg);
  font-family: "Space Grotesk", sans-serif;
  color: var(--text-color-two);
  overflow: hidden; 
}



.sidebar {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  width: 260px;
  padding: 2rem 1rem;
  background-color: var(--app-bg);
  border-right: 1px solid var(--text-color-three);
  height: 100vh;
  overflow-y: auto;
  box-shadow: var(--box-shadow);
  position: sticky;
  top: 0;
}

.sidebar li {
  margin: 5px;
}

.sidebar h2 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  padding-left: 1rem;
  font-family: "Crimson Text", serif;
  color: var(--text-color-one);
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0px;
}
.sidebar li button {
  border-radius: 0px 5px 5px 0px;
  text-align: left;
}

.link,
.activeLink {
  display: block;
  width: 100%;
  text-align: left;
  background: none;
  border: none;
  font-size: 1rem;
  padding: 0.75rem 1rem;
  cursor: pointer;
  color: var(--text-color-two);
  border-left: 4px solid transparent;
  transition: all 0.2s ease-in-out;
  font-family: "Space Grotesk", sans-serif;
}

.link:hover {
  background-color: var(--section-shade);
}

.activeLink {
  background-color: var(--section-shade);
  border-left: 4px solid var(--text-color-one);
  font-weight: bold;
  color: var(--text-color-one);
}


.content {
  flex: 1;
  height: 100vh;
  overflow-y: auto;
  padding: 2rem;
  text-align: start;
}

.content h2 {
  margin-top: 2rem;
  color: var(--text-color-one);
  font-family: "Crimson Text", serif;
  font-weight: 600;
}

.content h3 {
  margin-top: 1.5rem;
  color: var(--text-color-two);
  font-family: "Crimson Text", serif;
  font-weight: 400;
}

.content ul,
.content ol {
  margin-left: 1.5rem;
  color: var(--text-color-two);
}

.content strong {
  color: var(--text-color-one);
  font-weight: 600;
}

.content hr {
  margin: 2rem 0;
  border: none;
  border-top: 1px solid var(--text-color-three);
}
.content li {
  list-style: "- ";
}


@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    height: auto;
    border-right: none;
    border-bottom: 1px solid var(--text-color-three);
  }

  .content {
    padding: 1rem;
  }
  .sidebar li button {
    text-align: center;
  }
}
